-# completely unstyled, but only I use it.
%form{method: 'post', action: '/account/login'}
	= csrf_tag

	%input{type: 'text', name: 'email', placeholder: 'Email', value: request.params['email']}

	%input{type: 'password', name: 'password', placeholder: 'Password'}

	%button.ui.submit.primary.button{type: 'submit'} Login
