- if user.is_admin?
	%div{style: 'position: fixed; top: 10px; right: 10px'}
		%a.small.blue.label{href: "/p/#{@page.name}/history"}
			%i.fa.fa-history
			History

		%a.small.red.label{href: "/p/#{@page.name}/edit"}
			%i.fa.fa-cogs
			Edit


- title @pv&.display_title

.md~ @pv&.render_html

- if @pv
	%p.last-modified
		-#Modified
		-#%time.js-timeago{title: @pv.created_at, datetime: @pv.created_at.iso8601}
			= @pv.created_at

		- if @page.tags.any?
			= '[tags: %s]' % @page.tags.map{|tag| tag.name }.join(', ')
