body {
	// override Semantic-UI 14px font size
	font-size: 16px;
}

.ui.menu.site-menu {
	background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
	background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
	background-repeat: no-repeat;

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

// external links. first rule matches protocol-relative links, second
// matches absolutes (which I only use if a site specifically doesn't do SSL)
a[href^='//'], a[href^='http'] {
	padding-left: 12px;
	background-image: linear-gradient(transparent, transparent), url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%2306c%22%20d%3D%22M1.5%204.518h5.982V10.5H1.5z%22%2F%3E%3Cpath%20d%3D%22M5.765%201H11v5.39L9.427%207.937l-1.31-1.31L5.393%209.35l-2.69-2.688%202.81-2.808L4.2%202.544z%22%20fill%3D%22%2306f%22%2F%3E%3Cpath%20d%3D%22M9.995%202.004l.022%204.885L8.2%205.07%205.32%207.95%204.09%206.723l2.882-2.88-1.85-1.852z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
	background-repeat: no-repeat;
	background-position: center left;
}

footer, .last-modified {
	margin-top: 20px;
	color: #777;
	font-size: 12px;
	text-align: center;

	p { margin: 0 } // nested paragraphs in footer
}

#markdown-toc { // ul
	min-width: 200px;
	margin-left: 20px;
	padding: 0;
	float: right;
	background-color: #f4f7f8;
	font-size: 12px;
	list-style-type: none;

	a {
		display: block;
		padding: 5px 10px;

		&:hover {
			background-color: #eee;
			text-decoration: none;
		}
	}

	ul {
		padding: 0;
		list-style-type: none;
	}

	li {
		padding: 0;

		// successively further indent smaller headers.
		// this is kind of icky, need to find a cleaner way.
		// h1 not in TOC. h2 has no indent.
		li a { padding-left: 25px } // h3
		li li a { padding-left: 50px } // h4
		li li li a { padding-left: 75px } // h5
	}
}

.sitemap { // ul
	padding: 0;
	list-style-type: none;

	li {
		margin-bottom: 8px
	}
}

#editor, .md-preview {
	height: 500px;
	border: 1px dotted #555;
}

.md-preview {
	overflow-y: scroll;
}

// fix invisible ace scrollbar, not investigated yet.
.ace_scrollbar.ace_scrollbar-v { width: auto !important; }

.who-am-i {
	min-width: 130px;
	margin-left: 10px;
	float: right;
	font-size: 12px;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);

	h1 {
		display: block;
		margin: 0;
		padding: 5px;
		font-size: 14px;
		font-variant: small-caps;
	}

	ul {
		margin: 0;
		padding: 5px;
		list-style-type: none;

		li {
			//display: inline;
			//&:after { content: ', '};
		}
	}

	&.yes {
		background-color: #9d9;
		color: #060;

		h1 {
			background-color: #6d6;
		}
	}

	&.no {
		background-color: #d99;
		color: #700;

		h1 {
			background-color: #d66;
		}
	}
}

.md {
	h1, h2, h3, h4, h5, h6 { color: #446e9b }
	h1 { font-size: 36px }
	h2 { font-size: 30px }
	h3 { font-size: 24px }
	h4 { font-size: 20px }
	h5 { font-size: 16px }
	h6 { font-size: 16px }

	a:hover {
		text-decoration: underline;
	}

	pre {
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #f5f5f5;
	}

	blockquote {
		margin-left: 0;
		padding: 10px 0 10px 10px;
		border-left: 5px solid #999;
	}

	table {
		width: 100%;

		thead, tfoot {
			background-color: #f5f5f5;
		}

		th, td {
			padding: 10px;
			border: 1px solid #ddd;
		}
	}

	code {
		background-color: #fee9cc;
	}

	.code {
		.line-numbers {
			padding-right: 10px;
			color: #aaa;
		}
	}

	.XXcode {
		background-color: #222;
		color: #eee;

		// ruby
		.key { color: #f0f }
		.constant { color: #83fe75 }
		.comment { color: #0ff }
		.keyword { color: #5bd6bd }
		.class { color: #83fe75  }
		.content { color: #f0f }
		.instance-variable { color: #0ff }

		// C
		.preprocessor { color: #5bd6bd }
		.include { color: #f0f }

		// haml
		.tag { color: #ff0 }
	}
}
