
.md
	%h1 cae.me.uk

	%figure{class: 'right'}
		%img{src: '/images/photos/IMG_1794.jpg', style: 'width: 120px', alt: 'Caesium, May 2016'}
		%figcaption
			Yep, that's me.

	%p
		Hi. I'm Chris (Caesium) Elsworth.

	%p
		I'm a programmer and sysadmin based in Solihull, currently
		contracting for
		%a{href: '//en.wikipedia.org/wiki/BBC_Research_%26_Development'}
			BBC Research &amp; Development.

		Since you're here, you're probably either looking for
		%a{href: '/p/cv'} my CV
		or some more
		%a{href: '/p/caesium:irl'} personal details about me.

	%p
		I mostly use Ruby and C, and there's a couple of iOS apps with
		my name on them.

		Recently I'm also developing an interest in microprocessor
		(Atmel AVR and Espressif ESP8266) programming and the electronics
		associated with such things.


	%p
		You can find me on Freenode IRC as Caesium. You will not find me on
		Facebook, Twitter, or other social media; their privacy policies
		are invariably appalling.

