.md
	%h1 cae.me.uk

	%p
		Hi. You've reached Chris Elsworth's personal website. This is
		still very much a work-in-progress and most pages are still being
		written.

	%p
		I'm a programmer based in Solihull UK, currently contracting for
		%a{href: '//en.wikipedia.org/wiki/BBC_Research_%26_Development'}
			BBC Research &amp; Development,
		with a history in
		%a{href: '//en.wikipedia.org/wiki/Demon_Internet'} ISP
		sysadmin.

	%p
		I currently mostly do Ruby websites and C services/daemons, and
		there's a couple of iOS apps with my name on them. I'm also
		developing an interest in microprocessor (AVR and ESP8266)
		programming and the electronics associated with such things
		recently.


	%p
		I'll fill this out with more as things occur to me.
