%aside.who-am-i.yes
	%h1{title: 'Away from the keyboard, what defines me, in a nutshell?'}
		Caesium, abridged

	%ul
		%li Cyclist
		%li Dog Owner
		%li Low Carb, High Fat
		%li Scuba Diver
		%li{title: 'Born in York'} Yorkshireman

.md
	%h1 cae.me.uk

	%p
		Hi. You've reached Chris (Caesium) Elsworth's personal website.

	%p
		I'm a programmer based in Solihull, currently contracting for
		%a{href: '//en.wikipedia.org/wiki/BBC_Research_%26_Development'}
			BBC Research &amp; Development,
		with a history in ISP sysadmin at
		%a{href: '//en.wikipedia.org/wiki/Demon_Internet'}
			Demon Internet.

	%p
		I mostly use Ruby and C, and there's a couple of iOS apps with
		my name on them.

		Recently I'm also developing an interest in microprocessor
		(Atmel AVR and Espressif ESP8266) programming and the electronics
		associated with such things.

		My
		%a{href: '/p/cv'} CV
		has a more complete listing of what I've done and where I've been.


	%p
		You can find me on Freenode IRC as Caesium. You will not find me on
		Facebook, Twitter, or other social media; I value what
		remains of privacy in this day and age.

